root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{hpp,cpp,ixx}]
indent_style = space
indent_size = 2

[*.{h,c}]
indent_style = space
indent_size = 4

[*.tl]
indent_style = space
indent_size = 4
